html {
  box-sizing: border-box; }

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer; }

ul li {
  list-style-type: none; }

html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #565a5c; }
  @media (min-width: 1080px) {
    html,
    body {
      font-size: 10px; } }
  @media (max-width: 1079px) {
    html,
    body {
      font-size: 9.2px; } }
  @media (max-width: 919px) {
    html,
    body {
      font-size: 8.7px; } }
  @media (max-width: 767px) {
    html,
    body {
      font-size: 8.2px; } }
  @media (max-width: 539px) {
    html,
    body {
      font-size: 7.8px; } }
  @media (max-width: 399px) {
    html,
    body {
      font-size: 7.2px; } }

.container {
  padding: 20px; }
  .container .choose-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #eee;
    width: 220px; }
    .container .choose-layout button.btn {
      padding: 2px 10px;
      border: 1px solid #eee;
      cursor: pointer; }
  .container .view .title,
  .container .view .view-type {
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a; }
  .container .view .view-type {
    padding: 10px;
    padding-top: 20px;
    display: none; }
  .container .view .date,
  .container .view .desc {
    font-size: 13px;
    display: inline-block;
    padding-top: 5px; }
  .container .view .blocks {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    display: none; }
    .container .view .blocks .block {
      border: 1px solid #eee;
      border-radius: 5px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
      margin: 10px;
      overflow: hidden; }
      .container .view .blocks .block .image {
        position: relative; }
        .container .view .blocks .block .image:before {
          position: absolute;
          content: 'News';
          left: 0;
          background: #1d475f;
          color: white;
          text-transform: uppercase;
          font-size: 13px;
          padding: 2px 12px; }
        .container .view .blocks .block .image img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      .container .view .blocks .block .content {
        padding: 20px; }
  .container .view.grid-view .view-type.list {
    display: none; }
  .container .view.grid-view .blocks {
    display: flex; }
    .container .view.grid-view .blocks .block {
      width: 310px; }
      @media (max-width: 767px) {
        .container .view.grid-view .blocks .block {
          width: 100%; } }
      .container .view.grid-view .blocks .block .image {
        width: 100%;
        height: auto; }
        .container .view.grid-view .blocks .block .image:before {
          bottom: -8px; }
      .container .view.grid-view .blocks .block .content .desc {
        display: none; }
  .container .view.list-view .view-type.grid {
    display: none; }
  .container .view.list-view .blocks {
    display: flex;
    flex-direction: column; }
    .container .view.list-view .blocks .block {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 10px; }
      @media (max-width: 767px) {
        .container .view.list-view .blocks .block {
          flex-direction: column;
          padding: 0; } }
      .container .view.list-view .blocks .block .image {
        width: 310px;
        height: 200px; }
        @media (max-width: 767px) {
          .container .view.list-view .blocks .block .image {
            width: 100%;
            height: auto; } }
        .container .view.list-view .blocks .block .image:before {
          left: -10px;
          top: 15px; }
          @media (max-width: 919px) {
            .container .view.list-view .blocks .block .image:before {
              top: 35px; } }
          @media (max-width: 767px) {
            .container .view.list-view .blocks .block .image:before {
              bottom: -8px;
              left: 0;
              top: initial; } }

/*# sourceMappingURL=main.css.map */
