@import '_responsive.scss';
@import '_colors.scss';

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    // color: $white;
}

ul li {
    list-style-type: none;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    color: $text-color;

    @include desktop {
        font-size: 10px;
    }
    @include laptop {
        font-size: 9.2px;
    }
    @include tablet {
        font-size: 8.7px;
    }
    @include mobileLarge {
        font-size: 8.2px;
    }
    @include mobileMedium {
        font-size: 7.8px;
    }
    @include mobileSmall {
        font-size: 7.2px;
    }

}



// Debugging
// html,
// body {
//     @include desktop {
//         background-color: brown;
//     }
//     @include laptop {
//         background-color: blue;
//     }
//     @include tablet {
//         background-color: chocolate;
//     }
//     @include mobileLarge {
//         background-color: darkcyan;
//     }
//     @include mobileMedium {
//         background-color: darkmagenta;
//     }
//     @include mobileSmall {
//         background-color: royalblue;
//     }
// }