    .container {
        padding: 20px;
        .choose-layout {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            margin: 0 10px;
            border: 1px solid $border-color;

            .layout {
                color: $title-color;
                font-size: 13px;
            }

            button.btn {
                padding: 2px 10px;
                border: 1px solid $border-color;
                cursor: pointer;

                &.btn-grid {
                    margin: 0 10px;
                }
            }
        }
        .view {
            .title,
            .view-type {
                font-size: 16px;
                font-weight: 600;
                color: $title-color;
            }
            .view-type {
                padding: 10px;
                padding-top: 20px;
                display: none;
            }
            .date,
            .desc {
                font-size: 13px;
                display: inline-block;
                padding-top: 5px;
            }
            .blocks {
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                display: none;

                .block {
                    border: 1px solid $border-color;
                    border-radius: 5px;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
                    margin: 10px;
                    overflow: hidden;
                    .image {
                        position: relative;

                        &:before {
                            position: absolute;
                            content: 'News';
                            left: 0;
                            background: $news-color;
                            color: white;
                            text-transform: uppercase;
                            font-size: 13px;
                            padding: 2px 12px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .content {
                        padding: 20px;
                    }
                }
            }

            &.grid-view {
                .view-type {
                    display: block;
                    &.list {
                        display: none;
                    }
                }
                .blocks {
                    display: flex;
                    .block {
                        width: 310px;

                        @include mobileLarge {
                            width: 100%;
                        }

                        .image {
                            width: 100%;
                            height: auto;

                            &:before {
                                bottom: -8px;
                            }
                        }

                        .content {
                            .desc {
                                display: none;
                            }
                        }
                    }
                }
            }

            &.list-view {
                .view-type {
                    display: block;
                    &.grid {
                        display: none;
                    }
                }
                .blocks {
                    display: flex;
                    flex-direction: column;
                    padding: 0 10px;
                    .block {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        padding: 0 10px;

                        @include mobileLarge {
                            flex-direction: column;
                            padding: 0;
                        }

                        .image {
                            width: 310px;
                            height: 200px;

                            @include mobileLarge {
                                width: 100%;
                                height: auto;
                            }

                            &:before {
                                left: -10px;
                                top: 15px;

                                @include tablet {
                                    top: 35px;
                                }

                                @include mobileLarge {
                                    bottom: -8px;
                                    left: 0;
                                    top: initial;
                                }
                            }
                        }
                    }
                }
            }
        }
    }